
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

.content-section {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 360px;

    &_theme_bright {
        background-color: #FEE42A;
        color: #131313;
    }

    &_theme_dark {
        background-color: #131313;
        color: #F5F5F5;
    }

}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: block;
    width: 78px;
    height: 16px;
}

.header__logo-image {
    display: block;
}

.header__menu {

}

.header__menu-list {

}

.header__menu-item {

}

.header__menu-item-active {

}




